h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: #000;
    font-weight: 600;
}

h4 {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
}

h5 {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}

a {
    letter-spacing: 2px;
    text-decoration: none;
    color: #71c55d;
}

a:hover {
    color: #92d283;
}

ul {
    letter-spacing: 1px;
}

li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
}

p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 20px;
}

span {
    letter-spacing: 1px;
}

.container-full {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.fa {
    text-decoration: none;
    font-size: 13px;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    background: #fff;
    z-index: 997;
    transition: all 0.5s ease;
    padding: 20px 0;
}

#header #logo h1 {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

#header #logo h1 a {
    color: #555;
    display: inline-block;
    text-decoration: none;
}

#header #logo h1 a span {
    color: #71c55d;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

#header.header-scrolled {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #222;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #71c55d;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #71c55d;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}