<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div id="logo">
			<h1><a href="index.html"><span>E</span>-Commerce</a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link  active" href="#Login">Login</a></li>
				<li><a class="nav-link" href="#register">Register</a></li>
			</ul>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
	<div class="hero-container" data-aos="fade-in">
		<h1>Welcome to E-Commerce</h1>
		<h2>Let the best journey begins...</h2>
		<img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
		<a href="#get-started" class="btn-get-started scrollto">Get Started</a>
		<div class="btns">
			<a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
			<a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
			<a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
		</div>
	</div>
</section><!-- End Hero Section -->